@model List<Movie>

<style>
    /* Custom CSS for the table */
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    .btn-info, .btn-danger {
        padding: 6px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
    }

    .btn-info {
        background-color: #007bff;
    }

    .btn-danger {
        background-color: #dc3545;
    }

        .btn-info:hover, .btn-danger:hover {
            opacity: 0.8;
        }
</style>

<table class="table table-bordered">
    <thead class="fw-bold">
        <tr>
            <th>Category</th>
            <th>Title</th>
            <th>Year</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>Lent To</th>
            <th>Copied to Plex</th>
            <th>Notes</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Category.CategoryName</td>
                <td>@movie.Title</td>
                <td>@movie.Year</td>
                <td>@movie.Director</td>
                <td>@movie.Rating</td>
                <td>@movie.Edited</td>
                <td>@movie.LentTo</td>
                <td>@movie.CopiedToPlex</td>
                <td>@movie.Notes</td>

                <td><a class="btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@movie.MovieId">Edit</a></td>
                <td><a class="btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@movie.MovieId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
